<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>444231178568-prpnq10gqi48qpiie5irqj7cgkq4qvvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444231178568-prpnq10gqi48qpiie5irqj7cgkq4qvvr</string>
	<key>API_KEY</key>
	<string>AIzaSyBwT5dx6HNnnQZP5_-6hqIsgqWds9-7kn4</string>
	<key>GCM_SENDER_ID</key>
	<string>444231178568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>littlebird.iOSSchoolApp</string>
	<key>PROJECT_ID</key>
	<string>cuapp-5d360</string>
	<key>STORAGE_BUCKET</key>
	<string>cuapp-5d360.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:444231178568:ios:bae7418518c6a634</string>
	<key>DATABASE_URL</key>
	<string>https://cuapp-5d360.firebaseio.com</string>
</dict>
</plist>